/*
/*/*

!.gitignore
!README.md
!/docker-compose.yml
!/start.sh
!/stop.sh

!/src/
/src/*
!/src/.env
!/src/alias.sh
!/src/container_start.sh
!/src/setup.sh
!/src/install_extensions.sh
!/src/Dockerfile

gemini_config
oauth_creds.json
google_accounts.json
user_id
state.json
tmp/
