/*
/*/*

!.gitignore
!README.md
!/docker-compose.yml
!/start.sh
!/stop.sh

!/src/
/src/*
!/src/.env
!/src/alias.sh
!/src/container_start.sh
!/src/setup.sh
!/src/install_extensions.sh
!/src/Dockerfile*

*google_accounts*
*oauth_creds*
*user_id*
*settings*
*state*
tmp/*
*.json
